a.site-nav__link {
  text-decoration: none;
  color: orange;
}

.color-picker__option {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
  text-align: center;
}
.js-remove-listener{
  margin-bottom: 100px;
}
