/* html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
} */

a.site-nav__link {
  text-decoration: none;
  color: orange;
}

.color-picker__option {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
  text-align: center;
}
.js-remove-listener{
  margin-bottom: 100px;
}

.js-input {
  margin-top: 50px;

}

.output {
  font-size: 24px;
}

.box {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: blue;
  margin-left: 100px;
  margin-top: 100px;
}

.inner-box {
  display: flex;
  position: fixed;
  width: 100px;
  height: 100px;
  background-color:yellow;
  margin-left: 100px;
  margin-top: 100px;
}

.box--active {
  background-color: #2cfd75;
  transition: background-color 0.3s ease 0.5s;
}


.parent, .child, .inner-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  width: 1440px;
  height: 200px;
  background-color: #b804f4 ;
}

.child {
  width: 900px;
  height: 150px;
  background-color: #56acfb ;
}

.inner-child {
  width: 600px;
  height: 100px;
  background-color: #5effa5;
}

.js-add-btn {
  margin-bottom: 10px;
}

.tags {
  list-style: none;
  user-select: none;
  outline: 1px solid purple;
}

.js-button {
  background-color: rgba(0, 0, 200, 0.5);
}



